# Android / Gradle
*.iml
.gradle/
build/
.externalNativeBuild/
.cxx/
captures/
# Local config
local.properties
# Android Studio
.idea/

# Custom Release Folders
**/release/
*.apk
*.bundle

# Proguard / R8 mapping files
app/build/outputs/mapping/